
{%extends "nav.html"%}
{%block content%}
<div class='silver4'>
   <h2>Silver 4 Printers Non Ricoh:</h2>
   <li>Printer in mailroom \\UPHSURGPSAPP001\SURG-SIL4-MAILROOM - Pennchart name: \\uphsepicprt3\surgsil4checkout - IP 170.212.62.88</li>
   <li>Printer by Kelly's desk outside Jackson \\UPHSURGPSAPP001\SURG-SIL4-VASAA1 - Pennchart name: \\uphsepicprt3\surgsil4vasc2 - IP 170.212.63.222</li>
   <li>Printer by Anita and VAS drs office \\UPHSURGPSAPP001\SURG-SIL4-VASAA2 - Pennchart name: \\uphsepicprt3\surgsil4examgreen - IP 170.212.120.189</li>
   <li>Printer by Chairs office \\UPHSURGPSAPP001\SURG-SIL4-CHAIRAA - Pennchart name: \\uphsepicprt3\surgsil4chair - IP 170.212.62.105  </li>
   <li>Printer by Orr and EOS drs office \\UPHSURGPSAPP001\SURG-SIL4-EOS1 - Pennchart name: \\uphsepicprt3\surgsil4vasc1 - IP 170.212.63.209</li>
   <li>Printer by Kelz's office \\UPHSURGPSAPP001\SURG-SIL4-EOS2 - Pennchart name: \\uphsepicprt3\surgsil4eos - IP 170.212.120.211</li>
   <li>Printer by Carla and Ricoh \\UPHSURGPSAPP001\SURG-SIL4-EOS3 - IP 170.212.63.19</li>
   <li>Printer by Holly's desk and CRS drs \\UPHSURGPSAPP001\SURG-SIL4-CRS - Pennchart name: \\uphsepicprt3\surgsil4admin2 - IP 170.212.63.104</li>
   <li>Printer by GI AA's and fax machine \\UPHSURGPSAPP001\SURG-SIL4-GIAA1 - Pennchart name: \\uphsepicprt3\surgsil4gi - IP 170.212.120.203</li>
   <li>Printer across Pete's office and GI AA's \\UPHSURGPSAPP001\SURG-SIL4-GIAA2 - Pennchart name: \\uphsepicprt3\surgsil4gi2 - IP 170.212.62.134</li>

</div>
{%endblock%}